In [1]:
import pandas as pd
import numpy as np
import warnings
import gc

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from utils.reduce_memory import trainform_columns_type
from utils.target_encoding import target_encode, TargetEncoder
import xgboost as xgb
warnings.filterwarnings('ignore')

from sklearn.utils import resample

### 단일 값 가지는 컬럼 & NULL 값 가지는 컬럼 모두 제거.

In [ ]:
train_df = pd.read_parquet('./data/train/train_filtered.parquet')
test_df = pd.read_parquet('./data/test/test_filtered.parquet')

# reduce memory by chaing data types of columns
train_df = trainform_columns_type(train_df)
test_df = trainform_columns_type(test_df)

print('shape of train dataset(drop colums)', train_df.shape)
print('shape of test dataset(drop colums)', test_df.shape)

In [ ]:
train_df

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,변동률_RV일시불평잔,변동률_할부평잔,변동률_CA평잔,변동률_RVCA평잔,변동률_카드론평잔,변동률_잔액_B1M,변동률_잔액_일시불_B1M,변동률_잔액_CA_B1M,혜택수혜율_R3M,혜택수혜율_B0M
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0.999998,1.042805,0.999700,0.999998,0.999998,0.261886,0.270752,0.000000,1.044401,1.280542
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,1.092698,0.905663,0.999998,0.999998,0.999998,-0.563388,-0.670348,0.000000,0.000000,0.000000
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,1.006124,1.993590,0.852567,0.999998,0.999998,-0.046516,0.058114,-0.014191,0.524159,1.208420
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0.999998,1.050646,0.999877,0.999998,0.999998,0.023821,0.258943,0.000000,0.880925,1.657124
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,2,70대이상,E,1,1,1,1,1,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.000000,NaN,NaN
2399996,201812,TRAIN_399996,2,50대,D,1,1,1,1,1,...,0.999998,0.999998,0.999998,0.999998,0.921733,-0.203251,-0.159143,0.000000,1.377071,2.533815
2399997,201812,TRAIN_399997,1,30대,C,1,1,0,1,1,...,0.999998,0.345027,0.999998,0.999998,0.999998,0.027319,0.126581,0.000000,0.000000,0.000000
2399998,201812,TRAIN_399998,1,40대,E,1,1,1,1,1,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.000000,NaN,NaN
2399999,201812,TRAIN_399999,2,40대,E,1,1,0,1,1,...,0.999998,0.593160,0.999998,0.999998,0.999998,-0.039845,-0.002659,0.000000,0.000000,0.000000

In [ ]:
# remove columns to have null values
null_cols = train_df.columns[train_df.isnull().any()]
train_df = train_df.drop(columns=null_cols)          
test_df = test_df.drop(columns=null_cols, errors='ignore')
print('shape of train dataset(drop colums to have null values)', train_df.shape)
print('shape of test dataset(drop colums to have null values)', test_df.shape)

shape of train dataset(drop colums to have null values) (2400000, 712)
shape of test dataset(drop colums to have null values) (600000, 711)

In [ ]:
train_df.dtypes

기준년월                int32
ID                 object
남녀구분코드              int32
연령                 object
Segment            object
                   ...
변동률_RVCA평잔        float32
변동률_카드론평잔         float32
변동률_잔액_B1M        float32
변동률_잔액_일시불_B1M    float32
변동률_잔액_CA_B1M     float32
Length: 712, dtype: object

## Split X, y in train datasets 분리

In [ ]:
# X: ID, Segement 제거
# y: Segment 추출
feature_cols = [col for col in train_df.columns if col not in ["ID", "Segment"]]

X = train_df[feature_cols].copy() 
y = train_df["Segment"].copy() 

# Target Label Encoding
le_target = LabelEncoder()

y_encoded = le_target.fit_transform(y)

categorical_features = X.select_dtypes(include=['object']).columns.tolist()

X_test = test_df.copy()

encoders = {}  # 각 컬럼별 encoder 저장

for col in categorical_features:
    
    le_train = TargetEncoder()
    X[col] = le_train.fit_transform(X[[col]], y_encoded)
    print(X[col])
    encoders[col] = le_train
    #unseen_labels_val = set(X_test[col]) - set(le_train.classes_)
    #if unseen_labels_val:
    #    le_train.classes_ = np.append(le_train.classes_, list(unseen_labels_val))
    X_test[col] = le_train.transform(X_test[[col]])

0          3.707884
1          3.717624
2          3.717624
3          3.707884
4          3.707884
             ...
2399995    3.840038
2399996    3.758679
2399997    3.717624
2399998    3.707884
2399999    3.707884
Name: 연령, Length: 2400000, dtype: float64
0          3.730498
1          3.703061
2          3.730498
3          3.805835
4          3.785892
             ...
2399995    3.747230
2399996    3.774259
2399997    3.730498
2399998    3.805835
2399999    3.804816
Name: 거주시도명, Length: 2400000, dtype: float64
0          3.746502
1          3.746502
2          3.746502
3          3.746502
4          3.746502
             ...
2399995    3.746502
2399996    3.746502
2399997    3.746502
2399998    3.746502
2399999    3.746502
Name: 연회비발생카드수_B0M, Length: 2400000, dtype: float64
0          3.749090
1          3.702741
2          3.709390
3          3.749090
4          3.702741
             ...
2399995    3.836794
2399996    3.749090
2399997    3.709390
2399998    3.702741
2399999    3.702741
Name: Life_Stage, Length: 2400000, dtype: float64
0          3.746453
1          3.746453
2          3.746453
3          3.746453
4          3.746453
             ...
2399995    3.746453
2399996    3.746453
2399997    3.746453
2399998    3.746453
2399999    3.746453
Name: 자발한도감액횟수_R12M, Length: 2400000, dtype: float64
0          3.758557
1          3.758557
2          3.758557
3          3.758557
4          3.758557
             ...
2399995    3.758557
2399996    3.655419
2399997    3.758557
2399998    3.758557
2399999    3.655419
Name: 한도증액횟수_R12M, Length: 2400000, dtype: float64
0          3.736450
1          3.736450
2          3.736450
3          3.736450
4          3.736450
             ...
2399995    3.736450
2399996    3.736450
2399997    3.736450
2399998    3.736450
2399999    3.786591
Name: 카드론동의여부, Length: 2400000, dtype: float64
0          3.746364
1          3.746364
2          3.746364
3          3.746364
4          3.746364
             ...
2399995    3.746364
2399996    3.746364
2399997    3.746364
2399998    3.746364
2399999    3.746364
Name: 한도심사요청건수, Length: 2400000, dtype: float64
0          2.979342
1          3.918006
2          2.979342
3          2.979342
4          3.947932
             ...
2399995    3.947932
2399996    2.979342
2399997    3.707075
2399998    3.947932
2399999    3.899079
Name: 이용금액대, Length: 2400000, dtype: float64
0          3.696702
1          3.797119
2          3.696702
3          3.797119
4          3.797119
             ...
2399995    3.797119
2399996    3.696702
2399997    3.761584
2399998    3.797119
2399999    3.797119
Name: 대표청구지고객주소구분코드, Length: 2400000, dtype: float64
0          3.751611
1          3.789488
2          3.681486
3          3.789488
4          3.789488
             ...
2399995    3.789488
2399996    3.681486
2399997    3.789488
2399998    3.789488
2399999    3.789488
Name: 대표청구서수령지구분코드, Length: 2400000, dtype: float64
0          3.751612
1          3.789488
2          3.681486
3          3.789488
4          3.789488
             ...
2399995    3.789488
2399996    3.681486
2399997    3.789488
2399998    3.789488
2399999    3.789488
Name: 청구서수령방법, Length: 2400000, dtype: float64
0          3.792223
1          3.792223
2          3.792223
3          3.792223
4          3.792223
             ...
2399995    3.792223
2399996    3.792223
2399997    3.792223
2399998    3.792223
2399999    3.792223
Name: 할인건수_R3M, Length: 2400000, dtype: float64
0          3.749807
1          3.749807
2          3.749807
3          3.749807
4          3.749807
             ...
2399995    3.749807
2399996    3.749807
2399997    3.749807
2399998    3.749807
2399999    3.749807
Name: 할인건수_B0M, Length: 2400000, dtype: float64
0          3.403422
1          3.756822
2          3.756822
3          3.403422
4          3.756822
             ...
2399995    3.756822
2399996    3.756822
2399997    3.756822
2399998    3.756822
2399999    3.756822
Name: 인입횟수_ARS_R6M, Length: 2400000, dtype: float64
0          3.445757
1          3.757606
2          3.757606
3          3.445757
4          3.757606
             ...
2399995    3.757606
2399996    3.757606
2399997    3.757606
2399998    3.757606
2399999    3.757606
Name: 이용메뉴건수_ARS_R6M, Length: 2400000, dtype: float64
0          3.769402
1          3.769402
2          3.468281
3          3.769402
4          3.769402
             ...
2399995    3.769402
2399996    3.769402
2399997    3.769402
2399998    3.769402
2399999    3.769402
Name: 방문횟수_PC_R6M, Length: 2400000, dtype: float64
0          3.767363
1          3.767363
2          3.461234
3          3.767363
4          3.767363
             ...
2399995    3.767363
2399996    3.767363
2399997    3.767363
2399998    3.767363
2399999    3.767363
Name: 방문일수_PC_R6M, Length: 2400000, dtype: float64
0          3.775586
1          3.775586
2          3.554478
3          3.775586
4          3.775586
             ...
2399995    3.775586
2399996    3.775586
2399997    3.775586
2399998    3.775586
2399999    3.775586
Name: 방문횟수_앱_R6M, Length: 2400000, dtype: float64
0          3.733131
1          3.750364
2          3.733131
3          3.733131
4          3.733131
             ...
2399995    3.733131
2399996    3.732396
2399997    3.733131
2399998    3.733131
2399999    3.733131
Name: 캠페인접촉건수_R12M, Length: 2400000, dtype: float64
0          3.733381
1          3.772181
2          3.733381
3          3.733381
4          3.733381
             ...
2399995    3.733381
2399996    3.745544
2399997    3.733381
2399998    3.733381
2399999    3.733381
Name: 캠페인접촉일수_R12M, Length: 2400000, dtype: float64

In [ ]:
gc.collect()

0

In [ ]:
from sklearn.utils.class_weight import compute_class_weight
classes = np.unique(y_encoded)
weights = compute_class_weight(class_weight='balanced', classes=classes, y=y_encoded)
class_weight_dict = dict(zip(classes, weights))

In [ ]:
class_weight_dict

{0: 493.82716049382714,
 1: 3333.3333333333335,
 2: 3.7620503174229953,
 3: 1.3744051402752246,
 4: 0.2497330977517778}

In [ ]:
sample_weights = np.array([class_weight_dict[y] for y in y_encoded])
sample_weights

array([1.37440514, 0.2497331 , 3.76205032, ..., 3.76205032, 0.2497331 ,
       0.2497331 ])

In [ ]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
models = [] 
accuracy_scores = []
recall_scores = []
precision_scores = []
fi_scores = []
classification_reports = []


for fold, (train_idx, val_idx) in enumerate(kf.split(X)):
    X_train, X_val = X.iloc[train_idx], X.iloc[val_idx]
    y_train, y_val = y_encoded[train_idx], y_encoded[val_idx]
    sample_weights_fold = sample_weights[train_idx]
    print('-'*40)
    print(f'Fold {fold + 1}-th XGBoost model training...')
    
    # XGBoost
    model = xgb.XGBClassifier(
        tree_method='gpu_hist',  # GPU mode
        gpu_id=0,
        random_state=42,
        sample_weight=sample_weights_fold,
        use_label_encoder=False)
    
    # training and validation mornitoring
    
    model.fit(X_train, y_train, sample_weight=sample_weights[train_idx])
    models.append(model)

    y_val_pred = model.predict(X_val)
    accuracy = accuracy_score(y_val, y_val_pred)
    recall = recall_score(y_val, y_val_pred, average='macro')
    precision = precision_score(y_val, y_val_pred, average='macro')
    f1 = f1_score(y_val, y_val_pred, average='macro')
    report = classification_report(y_val, y_val_pred)
    conf_matrix = confusion_matrix(y_val, y_val_pred)
    
    print(f"Fold {fold + 1} Accuracy: {accuracy:.4f}")
    print(f"Fold {fold + 1} Recall: {recall:.4f}")
    print(f"Fold {fold + 1} Precision: {precision:.4f}")
    print(f"Fold {fold + 1} F1-score: {f1:.4f}")
    print(f"Fold {fold + 1} Classification Report\n:{report}")
    print(f"Fold {fold + 1} Confusion Matrix:\n{conf_matrix}")
    print('-'*40)
    
    accuracy_scores.append(accuracy)
    recall_scores.append(recall)
    precision_scores.append(precision)
    fi_scores.append(f1)
    
    
print(f"K-Fold mean Accuracy: {np.mean(accuracy_scores):.4f}")
print(f"K-Fold mean Recall: {np.mean(recall_scores):.4f}")
print(f"K-Fold mean Precision: {np.mean(precision_scores):.4f}")
print(f"K-Fold mean F1-score: {np.mean(fi_scores):.4f}")

----------------------------------------
Fold 1-th XGBoost model training...
Fold 1 Accuracy: 0.8889
Fold 1 Recall: 0.8806
Fold 1 Precision: 0.7962
Fold 1 F1-score: 0.8306
Fold 1 Classification Report:
              precision    recall  f1-score   support

           0       0.79      0.95      0.86       201
           1       0.95      0.89      0.92        45
           2       0.63      0.86      0.73     25532
           3       0.62      0.81      0.70     69969
           4       0.98      0.91      0.94    384253

    accuracy                           0.89    480000
   macro avg       0.80      0.88      0.83    480000
weighted avg       0.91      0.89      0.90    480000

----------------------------------------
----------------------------------------
Fold 2-th XGBoost model training...
Fold 2 Accuracy: 0.8887
Fold 2 Recall: 0.8908
Fold 2 Precision: 0.7876
Fold 2 F1-score: 0.8310
Fold 2 Classification Report:
              precision    recall  f1-score   support

           0       0.75      0.93      0.83       169
           1       0.95      0.95      0.95        20
           2       0.64      0.86      0.73     25641
           3       0.62      0.81      0.70     70156
           4       0.98      0.91      0.94    384014

    accuracy                           0.89    480000
   macro avg       0.79      0.89      0.83    480000
weighted avg       0.91      0.89      0.90    480000

----------------------------------------
----------------------------------------
Fold 3-th XGBoost model training...
Fold 3 Accuracy: 0.8906
Fold 3 Recall: 0.8638
Fold 3 Precision: 0.7704
Fold 3 F1-score: 0.8088
Fold 3 Classification Report:
              precision    recall  f1-score   support

           0       0.74      0.93      0.83       179
           1       0.87      0.81      0.84        32
           2       0.64      0.86      0.73     25375
           3       0.62      0.81      0.70     69752
           4       0.99      0.91      0.94    384662

    accuracy                           0.89    480000
   macro avg       0.77      0.86      0.81    480000
weighted avg       0.91      0.89      0.90    480000

----------------------------------------
----------------------------------------
Fold 4-th XGBoost model training...
Fold 4 Accuracy: 0.8891
Fold 4 Recall: 0.8676
Fold 4 Precision: 0.8119
Fold 4 F1-score: 0.8324
Fold 4 Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.89      0.86       208
           1       1.00      0.88      0.93        16
           2       0.63      0.86      0.73     25327
           3       0.62      0.81      0.70     69890
           4       0.98      0.91      0.94    384559

    accuracy                           0.89    480000
   macro avg       0.81      0.87      0.83    480000
weighted avg       0.91      0.89      0.90    480000

----------------------------------------
----------------------------------------
Fold 5-th XGBoost model training...
Fold 5 Accuracy: 0.8886
Fold 5 Recall: 0.8250
Fold 5 Precision: 0.7882
Fold 5 F1-score: 0.7930
Fold 5 Classification Report:
              precision    recall  f1-score   support

           0       0.75      0.91      0.83       215
           1       0.95      0.65      0.77        31
           2       0.64      0.85      0.73     25715
           3       0.61      0.81      0.70     69475
           4       0.99      0.91      0.94    384564

    accuracy                           0.89    480000
   macro avg       0.79      0.83      0.79    480000
weighted avg       0.91      0.89      0.90    480000

----------------------------------------
K-Fold mean Accuracy: 0.8892
K-Fold mean Recall: 0.8656
K-Fold mean Precision: 0.7909
K-Fold mean F1-score: 0.8192

In [ ]:
X_test.drop(columns=['ID'],inplace=True)

In [ ]:
n_classes = models[0].n_classes_ 
test_probabilities = np.zeros((len(X_test), n_classes)) # (600000, 5)

for model in models:
    test_probabilities += model.predict_proba(X_test) # (600000, 5)

test_probabilities /= len(models)
test_predictions = np.argmax(test_probabilities, axis=1)

print('Soft Voting Inference Done.')

Soft Voting Inference Done.

In [ ]:
y_test_pred_labels = le_target.inverse_transform(test_predictions)

# row 단위 예측 결과를 test_data에 추가
test_data = test_df.copy()  # 원본 유지
test_data["pred_label"] = y_test_pred_labels

submission = test_data.groupby("ID")["pred_label"] \
    .agg(lambda x: x.value_counts().idxmax()) \
    .reset_index()

submission.columns = ["ID", "Segment"]

In [ ]:
submission

               ID Segment
0      TEST_00000       D
1      TEST_00001       D
2      TEST_00002       D
3      TEST_00003       E
4      TEST_00004       E
...           ...     ...
99995  TEST_99995       E
99996  TEST_99996       E
99997  TEST_99997       E
99998  TEST_99998       C
99999  TEST_99999       E

[100000 rows x 2 columns]

In [ ]:
submission.to_csv('./results/0327_xgboost_K5fold(class_weight-target_encoding-nosmoothing).csv',index=False)